<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Catering Service";
  document.getElementById("change-services-para-1").innerHTML =
    "Urban Projects Catering has been meeting and surpassing client expectations for last 10 years as one of Saudi Arabia’s leading suppliers to the onshore and offshore catering industries. We operate a one stop shop service to a diverse range of clients with a focus on delivery, quality and competitive pricing.";
  document.getElementById("change-services-para-2").innerHTML =
    "We provide catering services to camps, offices, plants & factories. Customers are guaranteed exceptionally high standards in quality, safety and hygiene. Our business processes and quality assurance system are fully integrated with essential food safety controls.";
    document.getElementById("change-services-hero-image").src =
    "/images/services/7.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/catering/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/catering/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/catering/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/catering/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/catering/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/catering/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.g");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
