<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "General Contracting (Civil, Architectural & MEP)";
  document.getElementById("change-services-para-1").innerHTML =
    "To cater the demand of our clients we have strengthened our network in the field of General Contracting as well. Our team understands the unique requirements of civil & architectural works and has established business practices and processes to ensure professional management of projects of any size. We also provide a complete range of Mechanical, Electrical, Plumbing and Fire Fighting services.";
  document.getElementById("change-services-para-2").innerHTML =
    "";
    document.getElementById("change-services-hero-image").src =
    "/images/services/4.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/general/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/general/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/general/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/general/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/general/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/general/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.d");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";

</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
