<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Information Technology (IT)";
  document.getElementById("change-services-para-1").innerHTML =
    "Urban Projects is an authorized supplier of computer equipment and accessories for the business needs since many years. We work directly with you to analyze your computer networks, assess the strengths and weaknesses of your IT infrastructure, and source the best computer equipment to meet your needs. From Computers to cables, accessories and printers, we offer the technology required for your business at affordable prices.";
  document.getElementById("change-services-para-2").innerHTML =
    "Your company's information technology can make the difference whether your processes run efficiently or with difficulty. Contact us as your IT service provider! We supply assistance configuring computer services, safeguarding data, and troubleshooting online problems and concerns. If your firm sustains a data loss incident, we’ll help you recover faster. Resume your business operations quickly and efficiently again with our help.";
    document.getElementById("change-services-hero-image").src =
    "/images/services/8.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/IT/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/IT/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/IT/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/IT/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/IT/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/IT/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.h");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
