<%- include("partials/header") %> <%- include("partials/about-copy") %> <%-
include("partials/services") %> 
<!-- -----SERVICES-LIST------ -->
</div>
<div class="row">
  <div class="col-md-6">
    <ol id="change-service-list-1" class="services-list">
      <li>Certified Engineers</li>
      <li>Certified QA/QC Personnel</li>
      <li>Certified Safety Officers</li>
      <li>Certified Work Permit Receivers</li>
      <li>Certified Welders, RTR Pipe Jointer</li>
      <li>Certified painters and Sand Blasters</li>
      <li>Certified Crane &amp; Heavy Equipment Operators</li>
      <li>
        Electrical &amp; mechanical workers for building
        maintenance
      </li>
    </ol>
  </div>

  <div class="col-md-6">
    <ol id="change-service-list-2" class="services-list">
      <li>Riggers</li>
      <li>Technicians</li>
      <li>Skilled Labor</li>
      <li>Administrators</li>
      <li>Site Supervisors</li>
      <li>Operators for various plants</li>
      <li>Workers for Water treatment plants</li>
      <li>Maintenance workers for Oil and Gas plants</li>
    </ol>
  </div>
</div>
</div>
</div>
</div>

<!-- -----SERVICES-LIST------ -->

<%-
include("partials/services-sidebar-end") %> 

<script>
    document.getElementById("change-services-title").innerHTML =
      "Manpower Supplies";
    document.getElementById("change-services-para-1").innerHTML =
      "MANPOWER SOLUTIONS Enriched with industry experience, Urban Projects is able to offer the complete solution for Manpower Supply. Skilled and experienced personnel, who enable to meet the exact specifications of the clients, support the organization. Apart from this, the strong technical background of the company personnel helps to meet the maximum client satisfaction. The Company ensures the clients for timely execution and quality based industrial services. Urban Projects, a next generation company in terms of technology and innovations find immense pleasure in offering world class Manpower Solution services.";
    document.getElementById("change-services-para-2").innerHTML =
      "Urban Projects have a project support program, where we could support our customers with their industrial needs. Exclusive Manpower Supply Contract for Refineries, Petrochemicals, Oil &amp; Gas Industries, Fertilizers, Steel Plants &amp; Offshore Platforms. Since years, we have been providing our clients with reliable solutions to their most complex construction challenges. As a regular Contractor for many Companies in Saudi Arabia, we have certified personnel to perform the required tasks to customer’s satisfaction such as:";
      
      document.getElementById("change-services-hero-image").src =
      "/images/services/1.jpg";

      document.getElementById("change-img-1").src =
      "/images/services/manpower/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/manpower/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/manpower/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/manpower/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/manpower/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/manpower/6.png";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.a");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";

  </script>
<%- include("partials/quote") %> <%- include("partials/footer") %> <%-
include("partials/footer-end") %>
