<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Office Supplies";
  document.getElementById("change-services-para-1").innerHTML =
    "In a highly competitive market, businesses and companies require their full attention in their day to day operations. Advertising and marketing to acquiring clients and customers, a business cannot successfully run without its office supplies. With us, you will no longer need to negotiate a deal with different vendors for their office needs.";
  document.getElementById("change-services-para-2").innerHTML =
    "We are one-stop-shop for all kind of your Office supplies needs. The technology we use to provide your office supplies allows us to dramatically reduce your overheads, negotiate the best possible prices from the manufacturers & distributors.";
    document.getElementById("change-services-hero-image").src =
    "/images/services/6.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/office/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/office/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/office/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/office/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/office/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/office/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.f");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
