<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
<p>On rental basis, we supply heavy & light equipment such as:</p>
</div>
<div class="row">
  <div class="col-md-6">
    <ul id="change-service-list-1" class="services-list">
        <div class="row">
            <div class="col-md-4">
                <li>Fork Lift</li>
          <li>Man Lift</li>
          <li>Dump Truck</li>
          <li>Cranes</li>
          <li>Bob Cat</li>

          
            </div>
            <div class="col-md-4">
                <li>Diesel Tanker</li>
                <li>Loader</li>
                <li>Backhoes</li>
                <li>Excavator</li>
                <li>Trailer</li>
                
                
            </div>
            <div class="col-md-4">
                <li>Crawler</li>
                <li>Bulldozer</li>
                <li>Water Tanker</li>
                <li>Grader</li>
            </div>
        </div>
    </ul>
  </div>

  <div class="col-md-12 mt-4">
      <h3>POWER RENTAL</h3>
    <ul id="change-service-list-2" class="services-list">
      <li>Generator</li>
      <li>Air Compressors</li>
      <li>Tower Light</li>
      <li>Hydro Jetting</li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Rental Equipment Service";
  document.getElementById("change-services-para-1").innerHTML =
    "Equipment Rental fleet in Urban Projects is one of the strongest in the industry. In order to initially serve the diverse requirements of industries. Urban Projects has built up a wide-ranging fleet of heavy construction equipment. Our product line includes everything from small hand held tools to large earthmovers. While having a wide variety of tools and equipment is important, making sure they are all operating correctly is most important.";
  document.getElementById("change-services-para-2").innerHTML =
    "We understand that our fleet is the cornerstone of our business and we stand behind the quality equipment we rent. We begin by purchasing factory new equipment from the industry's leading manufacturers for our rental fleet. The intelligently customized solutions are backed by meticulous maintenance packages ensuring our clients project execution is never put at risk. Below listed are some of the main heavy equipment we have in our fleet.";
    
    document.getElementById("change-services-hero-image").src =
    "/images/services/2.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/rental/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/rental/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/rental/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/rental/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/rental/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/rental/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.b");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
