<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
<p>The array of products supplied by us consists of building materials, safety equipment, materials required for water treatment plants, plumbing materials, electrical materials, firefighting materials, different types of pipes, materials required for manufacturing and Oil & Gas industries etc. Our range includes supply of PPEs for all kind of industries as well.</p>
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Trading";
  document.getElementById("change-services-para-1").innerHTML =
    "Your construction projects require a wholesale supplier that provides the right supplies on time, within budget. As a comprehensive solution provider, Urban Projects offers a wide range of quality products & services for the construction industry that includes prime and finishing products and services. We supply a quality line of construction products, technical support and innovative solutions.";
  document.getElementById("change-services-para-2").innerHTML =
    "We offer one of the largest selections of construction related products and building materials. Our offered products are highly demanded in the market due to their best quality, optimum performance, superior efficiency, longer service life. With a Strong & Reliable list of Reputed Manufacturer’s & Suppliers around the Globe, we are able to supply Quality Products and are able to meet Shutdown Requirements.";
    document.getElementById("change-services-hero-image").src =
    "/images/services/3.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/trading/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/trading/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/trading/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/trading/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/trading/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/trading/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.c");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
