<%- include("partials/header") %> <%- include("partials/about-copy") %>
<%-include("partials/services") %> 
</div>

</div>
</div>
</div>
<%- include("partials/services-sidebar-end")
%>
<script>
  document.getElementById("change-services-title").innerHTML =
    "Transportation";
  document.getElementById("change-services-para-1").innerHTML =
    "Urban Projects is believed to be the best in catering to the transportation requirement of clients with quick, advanced and cost-effective transportation services. A Large number of Buses and Vehicles are available for Medium to Long Term Leasing for Personnel and employees Transportation services on Monthly / Yearly basis. Through our transportation fleet we carry out ad hoc services in order to manage the daily movements and the staff rotation in an efficient and cost saving manner.";
  document.getElementById("change-services-para-2").innerHTML =
    "";
    document.getElementById("change-services-hero-image").src =
    "/images/services/5.jpg";

    document.getElementById("change-img-1").src =
      "/images/services/transportation/1.jpg";

      document.getElementById("change-img-2").src =
      "/images/services/transportation/2.jpg";

      document.getElementById("change-img-3").src =
      "/images/services/transportation/3.jpg";

      document.getElementById("change-img-4").src =
      "/images/services/transportation/4.jpg";

      document.getElementById("change-img-5").src =
      "/images/services/transportation/5.jpg";

      document.getElementById("change-img-6").src =
      "/images/services/transportation/6.jpg";

      var sidebarListItem = document.querySelector(".sidebar .sidebar-box .sidebar-list li.e");

      sidebarListItem.style.border = "3px solid white";
      sidebarListItem.style.textAlign = "center";
</script>

<%- include("partials/quote") %> <%-include("partials/footer") %> <%-
include("partials/footer-end") %>
